ul {
	list-style-type: none;
	margin-bottom: 0;
}
li {
	border-bottom: 1px dashed gray;
}
li:last-of-type {
	border-bottom: 0;
}
.status {
	font-size: 2.5em;
}
.on {
	color: green;
}
.off {
	color: gray;
}

div#source-code {
  text-align: center;

  padding: 2em;
}
div#source-code img {
  width: 25px;
  height: 25px;
}
div#source-code a {
  color: #01579B;
  text-decoration: none;
}
div#source-code a:hover {
  text-decoration: underline;
}
